{% extends 'base.html' %}

{% block content %}

  <form class="button-container" action="/search/coordinates">
    <button class="large-button">
      <span class='button-label'>Search By Coordinates</span>
      <span class='button-label'>Search By Coordinates</span>
    </button>
  </form>
  
  <form class="button-container" action="/search/address">
    <button class="large-button">
      <span class='button-label'>Find Coordinates by Address</span>
      <span class='button-label'>Find Coordinates by Address</span>
    </button>
  </form>

{% endblock %}