{% extends 'base.html' %}

{% block content %}

  <div class="form-container">
    
    <h2>Search For Climbs</h2>

    <form method="POST" id="search_form">
      {{ form.hidden_tag() }}
  
      {% for field in form if field.widget.input_type != 'hidden' %}
        {% for error in field.errors %}
          <span>{{ error }}</span>
        {% endfor %}
        {{ field(placeholder=field.label.text, class="form-control") }}
      {% endfor %}
      <br>
      <button class="large-button">Search</button>
    </form>
  </div>

  {% if climbs %}
    
    {% for climb in climbs %}
    <div class="climb-container" id={{climb.meta_mp_route_id}}>
      <h3>{{climb.name}}</h3>

      {% if user %}
        {% if climb.toggle == 'todo' %}
          <form action="/add-to-todo/{{climb.meta_mp_route_id}}"method="POST">
            <button class="climb-button remove">Remove To-Do</button>
          </form>
        {% else %}
          <form action="/add-to-todo/{{climb.meta_mp_route_id}}" method="POST">
            <button class="climb-button add">Add To-Do</button>
          </form>
        {% endif %}

        
        {% if climb.toggle == 'completed' %}
          <form action="/add-to-complete/{{climb.meta_mp_route_id}}" method="POST">
            <button  class="climb-button remove">Mark as Incomplete</button>
          </form>
        {% else %}
          <form action="/add-to-complete/{{climb.meta_mp_route_id}}"  method="POST">
            <button class="climb-button add">Mark as Completed</button>
          </form>
        {% endif %}
        
    
      {% endif %}

      <p>Dificulty: {{climb.yds}}</p>
      <p>Type: {{climb.type}}</p>
      <p>First Ascent: {{climb.fa}}</p>
      <p>Latitude: {{climb.lat}}</p>
      <p>Longitude: {{climb.lng}}</p>
      <p>Climbing Sector: {{climb.meta_parent_sector}}</p>

    </div>
    {% endfor %}

  {% endif %}



{% endblock %}