{% extends 'base.html' %}

{% block content %}    
    <h1>{{sector.meta_parent_sector}}</h1>
    <p>Lattitude: {{sector.lat}} Longitude: {{sector.lng}}</p>
    <br>

    {% for climb in climbs %}
        <div class="climb-container" id={{climb.meta_mp_route_id}}>
            <h3><a href="/climb/{{climb.meta_mp_route_id}}">
                {% if climb.name|length > 25 %}
                    {{climb.name[:20] + '...'}}
                {% else %}
                    {{climb.name}}
                {% endif %}
            </a></h3>

            <p>Dificulty: {{climb.yds}}</p>
            <p>Type: {{climb.type}}</p>

        </div>
    {% endfor %}
{% endblock %}