{% extends 'base.html' %}

{% block content %}    
<div id={{climb.meta_mp_route_id}}>
    <h3>{{climb.name}}</h3>

    <form action="/add-to-todo/{{climb.meta_mp_route_id}}" method="POST">
      <button>Set To-Do</button>
    </form>

    <form action="/add-to-complete/{{climb.meta_mp_route_id}}" method="POST">
      <button>Completed Climb</button>
    </form>

    <p>Dificulty: {{climb.yds}}</p>
    <p>Type: {{climb.type}}</p>
    <p>First Ascent: {{climb.fa}}</p>
    <p>Latitude: {{climb.lat}}</p>
    <p>Longitude: {{climb.lng}}</p>
    <p>Climbing Sector: {{climb.meta_parent_sector}}</p>
</div>
{% endblock %}