{% extends 'base.html' %}

{% block content %}    
<div class="climb-wrapper" id={{climb.meta_mp_route_id}}>
  <h3>{{climb.name}}</h3>

  <p><b>Dificulty:</b> {{climb.yds}}</p>
  <p><b>Type:</b> {{climb.type}}</p>
  <p><b>First Ascent:</b> {{climb.fa}}</p>
  {% if climb.lat %}
    <p><b>Latitude:</b> {{climb.lat}}</p>
    <p><b>Longitude:</b> {{climb.lng}}</p>
  {% endif %}
  <p><b>Crag:</b> {{climb.meta_parent_sector}}</p>

  {% if user %}
    {% if climb.toggle == 'todo' %}
      <form action="/add-to-todo/{{climb.meta_mp_route_id}}" method="POST">
        <button class="climb-button remove">
          <span class='button-label'>Remove To-Do</span>
          <span class='button-label'>Remove To-Do</span>
        </button>
      </form>
    {% else %}
      <form action="/add-to-todo/{{climb.meta_mp_route_id}}" method="POST">
        <button class="climb-button add">
          <span class='button-label'>Add To-Do</span>
          <span class='button-label'>Add To-Do</span>
        </button>
      </form>
    {% endif %}

    
    {% if climb.toggle == 'completed' %}
      <form action="/add-to-complete/{{climb.meta_mp_route_id}}" method="POST">
        <button class="climb-button remove">
          <span class='button-label'>Mark as Incomplete</span>
          <span class='button-label'>Mark as Incomplete</span>
        </button>
      </form>
    {% else %}
      <form action="/add-to-complete/{{climb.meta_mp_route_id}}" method="POST">
        <button class="climb-button add">
          <span class='button-label'>Mark as Completed</span>
          <span class='button-label'>Mark as Completed</span>
        </button>
      </form>
    {% endif %}
    

  {% endif %}
</div>
{% endblock %}