/* Company Colors */
/* titanium_teal: rgb(25, 125, 125) */
/* rope_red: rgb(175, 25, 50) */
a {
    color: rgb(175, 225, 225);
}

a:hover {
    color: rgb(200, 100, 125);
}

.large-button {
    font-size: 25pt;
}

button {
    overflow: hidden;
    position: relative;
    display: inline-block;
    margin: 20px;
    height: 60px;
    line-height: 50px;
    color: white;
    background-color: rgba(25, 125, 125, .5);
    transition: .3;
    border: solid rgb(50, 50, 50);
}

button:hover {
    background-color: rgb(25, 125, 125);
}

.button-label {
    position: relative;
    top: 0%;
    display: block;
    height: 100%;
    transition: .3s;
}

button:hover .button-label {
    top:-100%;
}

.climb-button {
    font-size: 20pt;
}

.add {
    background-color: rgba(25, 125, 125, .5);
}

.remove {
    background-color: rgba(175, 25, 50, .5);
}


/* ***** Phones ***** */

/* All Screens below 700px wide in portrait. */
@media only screen
    and (max-device-width: 700px) {
    .large-button {
        height: 150px;
        line-height: 140px;
        font-size: 3rem;
    }
    .climb-button {
        font-size: 2rem;
    }
}
/* All Screens below 700px wide in landscape. */
@media only screen
    and (max-device-width: 700px)
    and (orientation: landscape) {
    

}

/* Portrait and Landscape Tablets */
@media only screen 
    and (min-device-width: 700px) 
    and (max-device-width: 1200px) {

}

/* Non-Retina Laptop Screens */
@media screen 
    and (min-device-width: 1200px) 
    and (max-device-width: 1600px) { 

}