.climb-container {
    /* position: relative; */
    display: inline-block;
    text-align: center;
    border: solid white;
    background-color: rgba(0, 128, 128, .1);;
    padding: 20px;
    margin: 10px;
    width: 20%;
}


.climb-button {
    font-size: 20pt;
}

.add {
    background-color: rgba(173, 255, 47, .5);
}

.remove {
    background-color: rgba(255, 0, 0, .5);
}