
nav {
    position: relative;
    display: inline-block;
    width: 100vw;
    height: 50px;
    text-align: center;
    justify-content: center;
    background-color: rgb(42, 40, 40);
}

nav > form {
    position: relative;
    width: 25%;
    height: 100%;
    display: inline;
    /* margin: 0px 5%; */
}

nav > form > button {
    margin: 0%;
    position: relative;
    font-size: 1.5em;
    height: 100%;
    width: 24%;
    color: white;
    background-color: transparent;
    border: solid white 5px;
    border-bottom: transparent;
    border-top: transparent;
}

nav > form > button:hover {
    background-color: rgba(0, 128, 128, .5);
    border: none;
    color: rgb(230, 240, 206);
}
