html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    color: rgb(42, 38, 24);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


h1 {
    text-align: center;
    color: rgb(42, 38, 24);
}

.content {
    position: relative;
    width: 90%;
    margin: auto;
    text-align: center;
}

.form-container {
    position: relative;
    width: 90%;
    text-align: center;
}
.climb-container {
    position: relative;
    text-align: center;
    background-color: lightcyan;
    padding: 20px;
    margin: 20px;
    width: 90%;
}

.alert {
    background-color: aquamarine;
    text-align: center;
    font-size: 25pt;
    padding: 20px;
    margin-top: 20px;
}

.alert-success {
    background-color: lightgreen;
}

.alert-warning {
    background-color: lightcoral;
}