/* Company Colors */
/* titanium_teal: rgb(25, 125, 125) */
/* rope_red: rgb(175, 25, 50) */

html, body {
    position: relative;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    color: white;
    background-color: rgb(75, 75, 75);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


h1 {
    text-align: center;
}

.content {
    position: relative;
    width: 100%;
    z-index: 0;
    max-width: 1200px;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}

.climb-container, .sector-container {
    position: relative;
    display: inline-block;
    border: solid white;
    background-color: rgba(25, 125, 125, .1);;
    padding: 20px;
    vertical-align: top;
    margin: 15px;
    width: 15vw;
    min-width: 150px;
    height: 200px;
}

.bio-wrapper {
    display: flex;
}

.bio-image, .bio-text {
    width: 40vw;
    height: 40vw;
    margin: 5vw;
}
.bio-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bio {
    display: inline;
}

.lists {
    display: flex;
    align-content: center;
    border-bottom: solid white 2px;
    margin-bottom: 50px;
}

.list {
    width: 45%;
    vertical-align: top;
    margin: 0 auto;
}

/* ***** Phones ***** */
/* All Screens below 700px wide in portrait and landscape. */
@media only screen
    and (max-device-width: 700px) {
    h1 {
        font-size: 3.5rem;
    }
    h2 {
        font-size: 3rem;
    }
    h3 {
        font-size: 2.5rem;
    }
    p {
        font-size: 2rem;
    }

    .climb-container, .sector-container {
        width: 40%;
        height: 400px;
    }
    .content {  
        padding-top: 200px;
    }
}
/* All Screens below 700px wide in landscape. */
@media only screen
    and (max-device-width: 700px)
    and (orientation: landscape) {
    
}

/* Portrait and Landscape Tablets */
@media only screen 
    and (min-device-width: 700px) 
    and (max-device-width: 1200px) {

}

/* Non-Retina Laptop Screens */
@media screen 
    and (min-device-width: 1200px) 
    and (max-device-width: 1600px) { 
}

@media screen 
    and (min-device-width: 1100px) {
    .bio-image, .bio-text {
        width: 400px;
        height: 400px;       
    }
}