<!doctype html>
<html>
<head>
  <title>Climb@</title>
  <script src="https://unpkg.com/jquery"></script>
  <link rel="stylesheet" href="/static/nav.css">
  <link rel="stylesheet" href="/static/page.css">
  <link rel="stylesheet" href="/static/climb.css">
</head>
<body>
  {% include 'nav.html' %}
  
  <div class="content">
    {% for category, message in get_flashed_messages(with_categories=True) %}
    <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %}

    {% block content %}
    CONTETN GOES HERE
    {% endblock %}

  </div>
<script src="https://unpkg.com/axios/dist/axios.js"></script>
</body>
</html>