<!doctype html>
<html>
<head>
  <title>Climb@</title>
  <link rel="icon" type="image/svg+xml" href="/static/climb-at.svg">
  <link rel="stylesheet" href="/static/alert.css">
  <link rel="stylesheet" href="/static/buttons_links.css">
  <link rel="stylesheet" href="/static/forms.css">
  <link rel="stylesheet" href="/static/nav.css">
  <link rel="stylesheet" href="/static/page.css">

</head>
<body>
  {% include 'nav.html' %}
  
  <div class="content">
    {% for category, message in get_flashed_messages(with_categories=True) %}
    <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %}

    {% block content %}
    CONTETN GOES HERE
    {% endblock %}

  </div>
<script src="/static/nav.js"></script>
</body>
</html>