{% extends 'base.html' %}

{% block content %}
    <h2>{{user.username}}</h2>
    <h3>Email:</h3>
    <p>{{user.email}}</p>
    <h3>Bio:</h3>
    <p>{{user.bio}}</p>
    
    {% if completed|length > 0 %}
        <h3>Completed Climbs:</h3>
        {% for climb in completed %}
            <p><a href="/climb/{{climb.meta_mp_route_id}}">{{climb.name}}</a></p>
        {% endfor %}
    {% endif %}
    
    {% if user.todo|length > 0 %}
        <h3>Climbs To-Do:</h3>
        {% for climb in todo %}
        <p><a href="/climb/{{climb.meta_mp_route_id}}">{{climb.name}}</a></p>
        {% endfor %}
    {% endif %}

    <form method="GET" action="/user/{{user.id}}/edit">
        <button class="large-button">Edit Profile</button>
    </form>
{% endblock %}